---
interface Props {
    name: string;
    route?: string;
}
const { name, route } = Astro.props as Props;
---
<button type="button" data-route={route} class="custom-button">{name}</button>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const buttons = document.querySelectorAll('.custom-button[data-route]');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                const route = button.getAttribute('data-route');
                if (route) {
                    // Get current path and append the new route
                    const currentPath = window.location.pathname;
                    const newPath = currentPath.endsWith('/')
                        ? `${currentPath}${route}`
                        : `${currentPath}/${route}`;
                    window.location.href = newPath;
                }
            });
        });
    });
</script>

<style>
.custom-button {
    width: 100%;
    height: 40px;
    background-color: #4338CA;
    color: #C9CAE9;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    line-height: 24px;
    border: none;
}
</style>
