---
interface Props {
    width: string,
    height?: string,
    label?: string,
    name: string,
    required: boolean,
    placeholder?: string,
    isPassword?: boolean
}

const { width, height, label, name, required, placeholder, isPassword } = Astro.props as Props;
---

<div class="input-group">
    <label for={name}>{label}</label>
    <div class="input-wrapper">
        <input
            placeholder={placeholder}
            name={name}
            required={required}
            type={isPassword ? "password" : "text"}
            spellcheck="false"
        />
        {isPassword && (
            <svg class="eye-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>Visibility</title>
                <path d="M12 4C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4Zm0 12.5c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5Zm-3-5c0-1.66 1.34-3 3-3s3 1.34 3 3-1.34 3-3 3-3-1.34-3-3Z"></path>
                <metadata>eye, on, reveal, see, show, view, visibility</metadata>
            </svg>
        )}
    </div>
</div>

<style define:vars={{width: width, height: height}}>

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.label {
    color: #C9CAE9;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.input-group input {
    width: var(--width);
    height: var(--height);
    background: transparent;
    border: 1px solid #2B2E69;
    border-radius: 6px;
    color: #CBD5E1;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px;
    margin-bottom: 12px;
}
.input-group input:focus{
    border: 1px solid #2B2E69;
}

.input-group input::placeholder {
    color: #5157B8;
}

.eye-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #C9CAE9;
    pointer-events: auto;
}

</style>

