---
import Layout from './Layout.astro';
import { Image } from 'astro:assets';
import Vector from  "../assets/Vector.svg"

interface Props {
    heading?: string;
    secondaryText?: string;
    boxHeight: string;
    boxWidth: string;
    bottomText?: string;
    bottomLink?: string;
    showVector: boolean;
    showTermsText: boolean;
}
const {
    heading,
    secondaryText,
    boxHeight,
    boxWidth,
    bottomText,
    bottomLink,
    showVector,
    showTermsText=true
} = Astro.props
---

<Layout title="DarkScout">
    <div class="auth-wrapper">
        <div class="auth-container">
            <div class="auth-box" style={`height: ${boxHeight}; width: ${boxWidth};`}>
                <div class="top-items">
                    {showVector &&
                    <Image src={Vector} alt="DarkScout" loading="eager" />
                    }
                    <div class="top-text">
                        <h2>{heading}</h2>
                        <p>{secondaryText}</p>
                    </div>
                </div>
                <slot />
                <span class="bottom-text">{bottomText}<a href={bottomLink && bottomLink.toLowerCase()}>{bottomLink}</a></span>
            </div>
        </div>
        {showTermsText &&
        <div class="terms-text">
            <p>
                By using Dark Scout, you agree to terms outlined in the
                <br/>
                <a href="/terms">License Agreement </a>and<a href="/privacy"> Privacy Policy.</a>
            </p>
        </div>
        }
    </div>
</Layout>

<style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #0f172a;
    overflow: hidden;
    position: relative;
}

/* Background */
html::before,
html::after {
    content: '';
    position: absolute;
    width: 1019px;
    height: 810px;
    background: #5B21B6;
    opacity: 0.25;
    filter: blur(140px);
    z-index: 1;
    transform: rotate(-180deg);
}

html::before {
    top: -243px;
    right: -102px;
}

html::after {
    bottom: -243px;
    left: -102px;
}

/* Authentication Wrapper */
.auth-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.auth-box {
    width: 479px;
    padding: 48px 0 0 0;
    position: relative;
    border-radius: 16px;
    gap: 14px;
    display: flex;
    flex-direction: column;
    background:
        linear-gradient(0deg, rgba(24, 26, 59, 0.6), rgba(24, 26, 59, 0.6)),
        radial-gradient(
        289.26% 154.71% at -4.8% -34.79%,
        rgba(91, 33, 182, 0.16) 0%,
        rgba(0, 0, 0, 0.104) 53%,
        rgba(91, 33, 182, 0.16) 100%
        );
    box-shadow: 0px -1px 21px -7px #442F8E;
}

/* Top Items */
.top-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.top-text h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: white;
}

.top-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A1A1A1;
}

/* Terms Text  */
.terms-text {
    text-align: center;
    margin-top: 64px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
    z-index: 2;
}

.terms-text a {
    color: #4338CA;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.terms-text a:hover {
    text-decoration: underline;
}

.bottom-text {
    margin-top: 24px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #6B7280;
}

.bottom-text a{
    text-decoration: none;
    color: #4338CA;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

</style>

